.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #bfb3ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
    text-align: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

p {
  color: #000000;
}

.project-panel {
  color: #000000;
  font-size: 14pt;
  text-align: left;
  border: 2px #000000;
  border-style: solid;
  /* background-color: #a763ff; */
  padding: 10px 25px 15px 20px;
  margin: 5px 200px 35px 200px;
}

.project-name {
  font-size: 16pt;
  font-weight: bold;
  text-transform: uppercase;
}
.project-language {
  font-style: italic;
}
.project-repo:link, .project-repo:visited {
  color: #551a8b;
  text-decoration: none;
}
.project-repo:hover{
  font-weight: bold;
}
.project-desc {
  text-transform: lowercase;
}

/* Global Button Styles */
.btn {
	padding: 15px 15px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
	font-size:12px;
	font-weight: bold;
  text-align: center;
  text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.65s ease;
}
.btn:hover{
  color:#ffffff;
  background-color: #4e24e6;
  border-color: #4e24e6;
  border-style: solid;
}