.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #bfb3ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
    text-align: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

p {
  color: #000000;
}

.project-panel {
  border: 3px #000000;
  border-style: solid;
  border-radius: 8px;
  background-color: #e59cfc;
  margin: 0px 0px 30px 0px;
}

/* Global Button Styles */
.btn {
	padding: 15px 15px;
  color: #000000;
  background-color: #ffffff;
  border: #000000;
  border-radius: 6px;
	font-size:12px;
	font-weight: bold;
  text-align: center;
  text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.7s ease;
}
.btn:hover{
  color:#ffffff;
  background-color: #4e24e6;
}